.author{
    box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
    transform: scale(.97);
    transition: all .3s;
    background-color: #273c75;
    color: white;
    border-radius: 10px;
}
.author:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #273c75;
    transform: scale(1);
    border: 1px solid #192a56;
}
.btn-regular{
    background-color: #ffffff;
    border: 1px solid #192a56;
    border-radius: 5px;
    color: #192a56;
    font-weight: bold;
    font-size: 16px;
    transition: all .3s;
}
.author:hover .btn-regular{
    background-color: #192a56;
    border: 1px solid #192a56;
    color: white;
    transform: scale(1);
}